*{
    margin: 0px;
    padding: 0px;
}
.flex-container{
    
    display: flex;
    justify-content: stretch;
    height: 90%;
     
}
.ch1{
    background-color: black;
    width: 20%; 
    
    
}
.fiii{
    padding: 15px;

}
.imgsting{
    padding-top: 8px;
}
.fi{
    color: white;
    padding: 10px;
}
.ch2{
    
    background-color: rgb(33, 31, 31);
    width: 100%;
    
}
.topbar{
    display: flex;
    justify-content: stretch;
    padding-top: 20px;
    padding-left: 20px;
}
.searchbar{
    display: flex;
    background-color: white;
    border-radius: 16px;
    width: 40%;
    padding: 8px;
    color: gray;
}
.b1{
    background-color: plum;
    width: 30%;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
    padding-left: 2%;
    padding-top:1%;
    color: white;    
}
.boxcontainer{
    display: flex;
    
}
.b2{
    background-color: orange;
    width: 31%;
    height: 220px;
    margin: 10px;
    border-radius: 8px;
    padding-left: 2%;
    padding-top:1%; 
    color: white;
}
.boxcontainer2{
    display: flex;
}
.gheartimg{
    padding-top: 26px;
}
.b3{
    background-color:greenyellow;
    width: 16%;
    height: 180px;
    margin: 10px;
    border-radius: 8px;
    padding-left: 2%;
    padding-top:1%;
    color: white;
}
.b4{
    background-color: navy;
    width: 16%;
    height: 180px;
    margin: 10px;
    border-radius: 8px;
    padding-left: 2%;
    padding-top:1%;
    color: white;
}
.b5{
    background-color: plum;
    width: 16%;
    height: 180px;
    margin: 10px;
    border-radius: 8px;
    padding-left: 2%;
    padding-top:1%;
    color: white;
}
.b6{
    background-color: red;
    width: 16%;
    height: 180px;
    margin: 10px;
    border-radius: 8px;
    padding-left: 2%;
    padding-top:1%;
    color: white;
}
.fii{
    color: white;
    margin-top: 90%;
}
.bottom{
    border: 20px;
    border-color: rgb(249, 249, 251);
    border-top-color: rgb(255, 255, 255);
    background-color:  rgb(43, 40, 40);
    width:100%;
    margin-top: 1px;
    
}
.btmflexcontainer{
    border: 2opx;
    border-top-color: white;
    display: flex;
    justify-content: safe;
    color:rgb(43, 40, 40) ;
}
.btm1{
    display: flex;
    border: 20px;
    border-top-color: white;
    gap: 8px;
    width:15%;
    justify-content: space-between;
}
.time-bar{
    margin-left: 31%;
    color: white;
    padding-bottom: 15px;
}
.bottompt2{
    display: flex;
    margin-top: 10px;
}
.bottompt1{
    display: flex;
    justify-content: flex-start;
    text-align:start;
    width: 40%;
}
.image{
    margin-left: 30px;
    margin-top: 20px;
}
.fi:hover{
    background-color: rgb(22, 21, 21);
    cursor: pointer;
}
.fhover:hover{
    background-color:rgb(22, 21, 21) ;
    cursor: pointer;
}
.b1:hover{
    color:rgb(22, 21, 21) ;
    
    cursor: pointer;
}
.b2:hover{
    color:rgb(22, 21, 21) ;
    
    cursor: pointer;
}
.b3:hover{
    color:rgb(22, 21, 21) ;
    
    cursor: pointer;
}
.b4:hover{
    color:rgb(22, 21, 21) ;
    cursor: pointer;
}
.b5:hover{
    color:rgb(22, 21, 21) ;
    
    cursor: pointer;
}
.b6:hover{
    color:rgb(22, 21, 21) ;
    
    cursor: pointer;
}

